@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.login-edu-container {
    margin-top: 130px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.login-edu-left {
    flex: 1;
    background-image: url(../../Img/edu-foto-12.JPG);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 430px;
    max-width: 400px;
}

.login-edu-right {
    padding-top: 50px;
    flex: 1;
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    color: #043368;
    background-color: #e6e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 400px;
}

.login-edu-form {
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.login-edu-form h1 {
    margin-bottom: 20px;
}

.login-edu-form p {
    margin-bottom: 20px;
    color: #666;
}

.login-edu-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.login-edu-form input {
    width: 100%;
    border-radius: 5px;
    background-color: #ffffffd0;
}

.login-edu-form button {
    background-color: #f8940c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    margin-top: 30px;
}

.login-edu-form button:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
  .login-edu-left {
      display: none; 
  }

  .login-edu-right {
      max-width: 100%; 
      padding: 20px;
  }
}
