/* Contenedor principal del perfil del administrador */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 

.admin-profile-container {
    margin-top: 30px;
    margin-left: 350px;
    max-width: 800px;
    display: flex;
    justify-content: center;
  }

  .computer_error{
    max-width: 150px;
  }
  
  /* Título principal del perfil */
  .admin-profile-title {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    color: #043368; /* Color de texto oscuro para mayor contraste y legibilidad */
  }
  
  /* Elementos de la lista de perfil */
  .admin-profile-item-2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #1a1919;
    font-style: italic;
  }
  
  /* Estilo del botón para editar los datos */
  .admin-profile-edit-button {
    background-color: #043368;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-profile-edit-button:hover {
    background-color: #15559e;
  }
  
  /* Modal de edición */
  .admin-profile-modal-content {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
  }
  
  .admin-profile-modal-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #181717;
  }
  
  /* Estilos de los campos del formulario */
  .admin-profile-form-field {
    margin-bottom: 15px;
  }
  
  .admin-profile-save-button {
    background-color: #043368;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-profile-save-button:hover {
    background-color: #054185;
  }
  
  /* Estilos para el contenedor de la contraseña */
  .admin-profile-password-container {
    margin-top: 40px;
    min-height: fit-content;
    border-radius: 8px;
  }
  
  .admin-profile-enable-password-button {
    background-color: #eb392c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-profile-enable-password-button:hover {
    background-color: #eb392c;
  }
  
  /* Estilo para el campo de la nueva contraseña */
  .admin-profile-save-password-button {
    background-color: #043368;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-profile-save-password-button:hover {
    background-color: #043368;
  }
  
  /* Estilos del modal de contraseña */
  .admin-profile-password-container {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
  }
  
  /* Resaltar el error */
  .swal2-popup {
    font-family: 'Arial', sans-serif;
  }

  .admin-profile-data-container{
    gap: 3rem;
    min-height: 200px;
  }

  @media (max-width: 768px) {
    .admin-profile-container {
      margin-left: 0%;
    }
    .admin-profile-title {
      font-size: 2rem;}
  }

  