.view-admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    margin-left: 350px;
    width: 70%;
}

.view-admin-search-input {
    margin-bottom: 20px;
    width: 60%;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.MuiInputAdornment-root {
    color: #5f6368;
}

.MuiTable-root {
    margin-top: 20px;
}

.MuiTableCell-root {
    font-size: 14px;
    padding: 15px;
    color: #555;
}

.MuiIconButton-root {
    padding: 8px;
}

.MuiIconButton-root:hover {
    background-color: #f44336;
    color: white;
}

/* Media Queries para hacer el diseño más responsivo */

@media (max-width: 1200px) {
    .view-admin-container {
        margin-left: 100px; /* Reducir el margen izquierdo en pantallas más pequeñas */
        width: 85%; /* Aumentar el ancho para pantallas más pequeñas */
    }

    .view-admin-search-input {
        width: 80%; /* Ajustar el tamaño de la barra de búsqueda */
    }
}

@media (max-width: 768px) {
    .view-admin-container {
        margin-left: 20px; /* Eliminar el margen izquierdo en pantallas móviles */
        width: 95%; /* Hacer el contenedor más ancho en pantallas pequeñas */
    }

    .view-admin-search-input {
        width: 100%; /* Hacer la barra de búsqueda de ancho completo */
    }

    .MuiTableCell-root {
        font-size: 12px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
        padding: 10px; /* Reducir el padding en pantallas más pequeñas */
    }

    .MuiIconButton-root {
        padding: 6px; /* Reducir el padding de los botones */
    }
}

@media (max-width: 480px) {
    .view-admin-container {
        padding: 20px; /* Reducir el padding en pantallas móviles */
        width: 95%;
    }

    .view-admin-search-input {
        width: 100%; /* La barra de búsqueda ocupa todo el ancho */
    }

    .MuiTableCell-root {
        font-size: 10px; /* Reducir aún más el tamaño de la fuente */
        padding: 8px; /* Menos padding en pantallas muy pequeñas */
    }

    .MuiIconButton-root {
        padding: 4px; /* Minimizar el padding de los iconos en pantallas pequeñas */
    }
}

