/* Estilos básicos */
.show-course-search {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
  }
  
  .show-course-search input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .show-course-search-icon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .show-course-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 10px;
    margin-left: 310px;
  }
  
  .show-course-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .show-course-card:hover {
    transform: translateY(-10px);
  }
  
  .show-course-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .show-course-info {
    padding: 15px;
  }
  
  .show-course-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .show-course-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .show-course-meta {
    font-size: 14px;
    color: #444;
  }
  
  .show-course-meta span {
    margin-bottom: 5px;
  }
  
  .show-course-price {
    color: #2a9d8f;
    font-weight: bold;
  }
  
  .show-course-schedule,
  .show-course-duration,
  .show-course-dates {
    color: #333;
  }
  


/* Estilos específicos para los botones */
.cancel-button, .save-button {
  font-family: "Bebas Neue", sans-serif; /* Asegura que la fuente sea la correcta */
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  padding: 10px 20px; /* Espaciado dentro del botón */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a puntero cuando pasa sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

/* Estilo del botón de Cancelar */
.cancel-button {
  background-color: #f44336; /* Rojo */
  color: white;
}

.cancel-button:hover {
  background-color: #ff0000; /* Rojo oscuro */
  color: white;
}

/* Estilo del botón de Guardar */
.save-button {
  background-color: #043368; /* Verde */
  color: white;
}

.save-button:hover {
  background-color: #036ce4; /* Verde oscuro */
  color: white;
}


.divEditButtons{
  padding: 20px;

  display: flex;
  justify-content: space-between;
}


/* Estilos para el botón de editar */
.btn-edit {
  background-color: #043368; /* Verde */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-edit:hover {
  background-color: #036ce4; /* Color verde más oscuro al pasar el ratón */
}

/* Estilos para el botón de eliminar */
.btn-delete {
  background-color: #eb392c; /* Rojo */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-delete:hover {
  background-color: #ff0000; /* Rojo más oscuro al pasar el ratón */
}


  
  /* Media Queries para dispositivos pequeños */
  @media (max-width: 768px) {
    .show-course-search input {
      width: 90%;
      max-width: 300px;
    }
  
    .show-course-list {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 15px;
      margin-left: 10px;
    }
  
    .show-course-title {
      font-size: 18px;
    }
  
    .show-course-description {
      font-size: 13px;
    }
  }
  
  /* Media Queries para dispositivos muy pequeños (por ejemplo, teléfonos) */
  @media (max-width: 480px) {
    .show-course-search input {
      width: 100%;
      max-width: 100%;
    }
  
    .show-course-list {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-left: 0px;
      padding: 20px;
    }
  
    .show-course-title {
      font-size: 16px;
    }
  
    .show-course-description {
      font-size: 12px;
    }
  
    .show-course-meta span {
      font-size: 12px;
    }
  }
  