@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.carousel-item img {
    height: 500px; 
    object-fit: cover; 
    width: 100%;
}  

.carousel-caption {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: white; 
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: fit-content; 
}

.about-edunamica {
    background-color: #f1f1f1; /* Gris claro */
    max-height: 150px; /* Altura máxima de 200px */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    position: relative; /* Necesario para la posición absoluta de las imágenes */
    padding: 10px;
}

.image-container {
    position: relative; /* Posiciona las imágenes fuera del flujo normal del documento */
}

.image-container img {
    width: 120px; /* Tamaño reducido de las imágenes */
    height: 120px; /* Tamaño reducido de las imágenes */
}

.top-right {
    top: 10px; /* Coloca la imagen amarilla en la esquina superior derecha */
    right: 100px;
}

.bottom-right {
    top: 10px; /* Coloca la imagen amarilla en la esquina superior derecha */
    left: 100px;
}

.text-container-description {
    text-align: left; /* Alineación de texto a la izquierda para mayor legibilidad */
    max-width: 60%; /* Limita el ancho del texto */
    padding-left: 20px; /* Alineación interna a la izquierda */
}

.text-description{
    font-size: 20px; /* Tamaño de la fuente */
    line-height: 1.6; /* Mejora la legibilidad con mayor espacio entre líneas */
    color: #043368; /* Color de texto oscuro para mayor contraste y legibilidad */
    font-weight: 400; /* Peso normal para el texto */
    font-family: "Bebas Neue", sans-serif;
}



@media (max-width: 600px) {
    .tituloCarrousel {
        font-size: 20px;
    }
    
    .textoCarrousel {
        font-size: 12px;
    }

    .carousel-caption {
        padding: 10px;
        width: fit-content; 
    }
    .top-right {
        top: 10px; /* Coloca la imagen amarilla en la esquina superior derecha */
        right: 10px;
    }

    .about-edunamica {
        max-height: fit-content; /* Altura máxima de 200px */
    }
    .image-container img {
        width: 80px; /* Tamaño reducido de las imágenes */
        height: 80px; /* Tamaño reducido de las imágenes */
    }
    .bottom-right{
        display: none;
    }
}